body { 
    margin: 0; 
    overflow: hidden; 
    background: black; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    font-family: monospace; 
}

#gameCanvas { 
    position: absolute; 
    top: 0; 
    left: 0; 
}

#userStats { 
    position: fixed; 
    top: 10px; 
    left: 10px; 
    color: white; 
    z-index: 1; 
    padding: 10px; 
    border-radius: 5px; 
}

#gameDebug {
    position: fixed;
    top: 10px;
    right: 50px;
    color: white;
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
}

#userControls { 
    position: fixed; 
    bottom: 10px; 
    left: 10px; 
    color: white; 
    z-index: 1; 
    padding: 10px; 
    border-radius: 5px; 
}

#github {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
}
